<html>

<head>
    {{template "include"}}
    <title>{{ .Title }}</title>
</head>

<body>
    {{template "header"}}
    <h1>{{ .Title }}</h1>
    <form action="/" method="post">
        <textarea name="update" cols="30" rows="5"></textarea>
        <div>
            <input type="submit" value="Post Update">
        </div>
    </form>
    {{ range .Updates }}
    <div>
        <small>
            <strong>{{ .GetUser.GetUsername }} wrote:</strong>
        </small>
        {{ .GetBody }}
    </div>
    {{ end }}
</body>

</html>